<nav>
  <a routerLink="/users/1">Alice</a>
  <a routerLink="/users/2">Marco</a>
  <a routerLink="/users/3">Sara</a>
</nav>

<!-- Asincrono -->
@if (userResource.isLoading()) {
  <p>Caricamento...</p>
} @else if (userResource.value(); as user) {
  <div class="profile-card">
    <h2>{{ user.name }}</h2>
    <p>{{ user.email }}</p>
    <p>{{ user.bio }}</p>
  </div>
} @else {
  <p>Utente non trovato.</p>
}


<!-- Sincrono
@if (user(); as u) {
      <div class="profile-card">
        <h2>{{ u.name }}</h2>
        <p>{{ u.email }}</p>
        <p>{{ u.bio }}</p>
      </div>
} @else {
  <p>Utente non trovato.</p>
} -->

